header{
    background: rgba(255,255,255,0.9);
    height: 60px;
    border-bottom: 2px solid #3b3c8b;
    padding-top: 20px;
    position: relative;
    z-index: 1;
}
ul{
    float: right;
    padding-top: 20px;

}
ul li{
    display: inline-block;
    padding: 0px 10px;
}
ul li a{
    text-decoration: none;
    color: #3b3c8b;
    font-weight: 600;    
}
ul li a:hover,ul li a:active,ul li a:focus{
    color:#e22d40;
}
 
ul li ul{
    display:none;
    position:absolute;
    min-width:140px;

    margin-top: 0px;
    margin-left: 0px;
}
ul li:hover > ul{
    display:block;
}
ul li ul li {
    position:relative;
    background: #e22d40;
    margin-bottom: 3px;
    width: 150px;
    height: 40px;
    line-height: 12px;

}
ul li ul li a{
    color: #ffffff;
    padding: 10px;
    font-weight: normal;
    float: left;
}
ul li ul li:hover{
    background: #3b3c8b;
}
ul li ul li ul{
    right:-140px;
    top:0px;
}
#banner{
    background: url(library/img/banner.jpg) no-repeat;
    min-height: 667px;
    background-position: center center;
    background-attachment: relative;
    background-size: 100%;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-top: -80px;
}
#copi{
    padding: 40px 0px 0px 0px;
    background: rgba(59,60,139,0.45);
    height: 120px;
    position: absolute;
    z-index: 0;
    margin-top: 300px;
    color: #ffffff;
    max-width: 100%;
}
#copi p{
    text-align: right;
    font-size: 24px;
    padding-right: 40px;
    margin-left: 250px;
    letter-spacing: 1.5px;
    font-weight: 300;
    line-height: 28px;
}
#form{
    margin-top: 100px;
    margin-right: 150px;
    width: 320px;
    height: 350px;
    background: rgba(255,255,255,0.85);
    float: right;
    padding: 10px;
    border-radius: 0px 0px 10px 0px;
    -o-border-radius: 0px 0px 10px 0px;
    -moz-border-radius: 0px 0px 10px 0px;
    -ms-border-radius: 0px 0px 10px 0px;
    -webkit-border-radius: 0px 0px 10px 0px;

}
#form input[type="radio"]{
    display: inline-block;
}

#body{
    color: #727277;
}
#garantia{
    width: 100%;
    background: #ffffff;
    border-top: 2px solid #e22d40;
    text-align: center;
    
    margin-top: -30px;
    padding: 40px 0px 20px 0px;
}
#garantia h2{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #3b3c8b;
}
#garantia h2:before{
    content: url(library/img/icon-gar.png);
    position: absolute;
    margin-left: -40px;
}
#garantia p strong{
    color: #3b3c8b;
}

.icon-uno:before{
    content: url(library/img/icon-uno.png);
    margin-right: 10px;

}
.icon-uno:before, p.icon-uno{
    vertical-align: top;
}
p.num{
   line-height: 16px;
   margin-top: 10px;
}

#mapa{
    border-top: 2px solid #e22d40;
}
.icon-map:before{
    content: url(library/img/icon-map.png);
}
.icon-mail:before{
    content: url(library/img/icon-mail.png);
}
.icon-fax:before{
    content: url(library/img/icon-fax.png);
}
.icon-movil:before{
    content: url(library/img/icon-movil.png);
}
.icon-map:before,.icon-mail:before,.icon-fax:before,.icon-movil:before{
    vertical-align: middle;
    text-align: center;
    background-position: center;
    display: inline-block;
}
 #single__inm h3{
    text-decoration: underline;
     text-decoration-color: red;
     -moz-text-decoration-color: red;
     -webkit-text-decoration-color: red;
    font-size: 28px;
    color: #2b3173;
    font-weight: 400;
 }
 img{
    max-width: 100%;
    height: auto;
 }
/* Footer */

footer{
    background: #2b3173;
    font-weight: 400;
    color: #ffffff;
    padding: 30px 0px;
}
footer p, footer a{
    margin: 0px 0px 10px 0px;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}
footer a, footer a img{
    vertical-align: middle;
}
#social{
    margin-top: 20px;
}
#social a img{
    margin-bottom: 10px;
}
ul#menu-footer {
    float: none;
    padding-top: 0px;
    margin: 0px;
}
#menu-footer ul li{
    display: block;
}
#menu-footer ul li a{
    color: #ffffff;
}
#page, #page--ext{
    padding: 30px 0px;
    line-height: 18px;
    color: #727277;
    font-size: 15px;
}
#page h2, #page--ext h2{
    border-bottom: 2px solid #e22d40;
    max-width: 60%; 
    font-size: 28px;
    color: #2b3173;
    font-weight: 400;
}
#page img, #page--ext img{
    max-width: 100%;
    height: auto;
}
#page li, #page--ext li{
     list-style: square url(library/img/icon-list.png);
}
#page--ext{
    text-align: justify;
    padding: 60px 0px;
}
#page--ext h3{
    font-size: 18px;
    font-weight: 600;
    vertical-align: middle;
    margin: 0px;
}
#page--ext img, #page--ext h3{
    display: inline-block;
    vertical-align: middle;
}
.btn--red{
    background-color: #d82d37;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
        -o-border-radius: 5px;
            -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
}
.btn--red:hover{
    color: #ffffff;
    background-color: rgba(228,50,68,0.9)
}
.center{
    text-align: center;
}
ul.list__arri{
    padding-top: 0px;
}
.form-group input[type="text"],.form-group textarea{
    width: 100%;
}
/* /Footer */

/* Copy */
#copy{
    color: #ffffff;
	text-align: center;
    background: #1c2053;
    color: #ffffff;
    padding: 10px 0px;
    letter-spacing: 0.5px;
}
#copy p{
    font-size: 12px;
    margin: 0px;
    font-weight: 300;
}
#copy a{

	text-decoration: none;
	color: #ffffff;
}
/* /Copy */

/************** Estilos Adicionales **************/




/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}
