header{
    background: rgba(255,255,255,0.9);
    height: 60px;
    border-bottom: 2px solid #3b3c8b;
    padding-top: 20px;
    position: relative;
    z-index: 1;
}
ul{
    float: right;
    padding-top: 20px;
}
ul li{
    display: inline-block;
    padding: 0px 10px;
}
ul li a{
    text-decoration: none;
    color: #3b3c8b;
    font-weight: 600;
}
ul li a:hover,ul li a:active,ul li a:focus{
    color:#e22d40;
}

#banner{
    background: url(library/img/banner.jpg) no-repeat;
    height: 667px;
    background-position: center;
    position: relative;
    z-index: 0;
    margin-top: -80px;
}
#copi{
    padding: 40px 0px 0px 0px;
    background: rgba(59,60,139,0.45);
    height: 120px;
    position: absolute;
    z-index: 0;
    margin-top: 300px;
    color: #ffffff;
    max-width: 100%;

}
#copi p{
    text-align: right;
    font-size: 24px;
    padding-right: 40px;
    margin-left: 250px;
    letter-spacing: 1.5px;
    font-weight: 300;
    line-height: 28px;
}
#form{
    margin-top: 100px;
    margin-right: 150px;
    width: 320px;
    height: 350px;
    background: rgba(255,255,255,0.85);
    float: right;
    padding: 10px;
    border-radius: 0px 0px 10px 0px;
    -o-border-radius: 0px 0px 10px 0px;
    -moz-border-radius: 0px 0px 10px 0px;
    -ms-border-radius: 0px 0px 10px 0px;
    -webkit-border-radius: 0px 0px 10px 0px;

}
#form input[type="radio"]{
    display: inline-block;
}

#body{
    color: #727277;
}
#garantia{
    width: 100%;
    background: #ffffff;
    border-top: 2px solid #e22d40;
    text-align: center;
    
    margin-top: -30px;
    padding: 40px 0px 20px 0px;
}
#garantia h2{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #3b3c8b;
}
#garantia h2:before{
    content: url(library/img/icon-gar.png);
    position: absolute;
    margin-left: -40px;
}
#garantia p strong{
    color: #3b3c8b;
}

.icon-uno:before{
    content: url(library/img/icon-uno.png);
    margin-right: 10px;

}
.icon-uno:before, p.icon-uno{
    vertical-align: top;
}
p.num{
   line-height: 16px;
   margin-top: 10px;
}

#mapa{
    border-top: 2px solid #e22d40;
}

/* Footer */

footer{
    background: #2b3173;
    font-weight: 400;
    height: 250px;
}
#menu-footer ul{
    float: none;
}
#menu-footer ul li{
    display: block;
}
#menu-footer ul li a{
    color: #ffffff;
}

/* /Footer */

/* Copy */
#copy{
	text-align: center;
    background: #1c2053;
}
#copy a{
	text-decoration: none;
	color: #000000;
}
/* /Copy */

/************** Estilos Adicionales **************/




/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}
